
/* TOP NAV */
/*-- tentar transformar h1 e h2 num só para o float acontecer direito funcionou */
@import "variaveis";
   .container{
		 width: 100%;
		 float: left;
		 margin-right: 0;
		 clear: right;
     margin-bottom: 13%;
     /* makes the bar move from right to left position: absolute;*/
}

	 .container h1{
		border-top: none;
		padding-left: 42%;
    padding-right: 10%;
		padding-top: 5%;
    padding-bottom: 0.5%;
		font-family: $font-stack;
    font-weight:bolder;
		font-size: 20pt;
	}

    .container h2{
		border-top: none;
		padding-left: 9%;
		padding-top: 1%;
		padding-bottom:2%;
		font-family: $font-stack;
		font-size: 16pt;
  }

.container img {
  width: 67%;
  position: absolute;
  left: 50px;
  top: 70px;
  padding-bottom: 0.5%;

}


.container #burger img {
  width: 3%;
  left: 90%;
  top: 10%;
  position: absolute;

}

.container #logo img{
  width: 4%;
  position: absolute;
  left: 50px;
  top: 60px;
}




.container a:link{
  text-decoration: none;
}

.container a:visited{
  text-decoration: none;
}

tr {
  font-family: $font-stack;
}

@media only screen and (max-width: 500px), only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

  .container{
    margin-bottom: 8%;
    /* makes the bar move from right to left position: absolute;*/
  }

  .container h1{
   padding-left: 16%;
   padding-top: 13%;
   padding-bottom: 0.5%;
   font-family: $font-stack;
   font-weight:bolder;
   font-size: 14pt;
  }

  .container #burger img {
  width: 8%;
  left: 85%;
  top: 6.5%;
  position: absolute;

  }

  .container #logo img{
  width: 7%;
  position: absolute;
  left:22px;
  top: 45px;
  }
}
