@import "reset";
@import "variaveis";
@import "partial";
@import "lista";
@import "border";

/* On hover, add a black background color with a little bit see-through */
.next:hover {
  background-color: rgba(0,0,0,0.8);
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(190, 190, 190, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    display: flex;
    justify-content:center;
    position: absolute;
    top: 20%;
    width: 100%;
}

.overlay a {
    padding: 10px;
    text-decoration: none;
    font-size: 30px;
    color: black;
    display: block;
    transition: 0.3s;
    margin: 10px;
}


.flex_container{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    justify-content:flex-start;
}

.menu_title{
  font-weight: bolder;
}


ul {
    align-items: flex-start;
    font-family: $font-stack;
}

li {
    margin: 20px;
}


.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    z-index: 9999999;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.curso1{
img{
  padding-top: 20%;
}
}



@media only screen and (max-width: 500px), only screen and (min-device-width: 768px) and (max-device-width: 1024px) {


  .overlay-content {
      display: flex;
      justify-content:center;
      position: absolute;
      top: 0%;
      width: 100%;
  }

  .overlay a {
      padding: 10px;
      text-decoration: none;
      font-size: 22px;
      color: black;
      display: block;
      transition: 0.3s;
      margin: 10px;
  }


  .flex_container{
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-content: center;
      justify-content:flex-start;
  }

  .menu_title{
    font-weight: bolder;
  }

  ul {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      font-family: $font-stack;
  }

  li {
      margin: 0px;
  }



    .curso{
      width: 95%;
      height: 90vh;
      position: relative;
      padding-top: 5%;
      float: none;
      left: 2.5%;
      align-content: center;
      padding-top: 50%;

      h3{
        font-size: 14pt;
        text-align: center;
        margin-top: 4%;

      }

      img{
        width: 80%;
        padding-bottom:10%;
        padding-left: 10%;
      }

      p{
        padding-left: 9%;
        width: 80%;
        font-size: 9pt;
        text-align: justify;
      }

      .curso1{
        padding-top: 0;
      }

      .curso2 {


        p{
          margin-bottom:  10%;
      }
    }
  }
}
